@font-face {
    font-family: "wagner";
    src: url("../img/fonts/Wagner Zip-Change.ttf");
    font-weight: normal;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
    flex: 1;
    padding-top: 20px;
}

nav ul li:hover {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.left {
    padding-left: 90px!important;
}

nav {
    height: 30px;
    line-height: 30px;
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 30px;
    }
}

.ewemoji, .lolemoji, .nsfwemoji, .failemoji {
    height: 60px;
    width: 65px;
    margin-top: 10px;
    margin-left: -5px;
}

.bffsemoji {
    height: 61px;
    width: 64px;
    margin-top: 10px;
    margin-left: -5px;
}

.yaasemoji, nopeemoji {
    height: 65px;
    width: 90px;
}

.wtfemoji {
    height: 60px;
    width: 80px;
    margin-top: 10px; 
}

.fameemoji {
    width: 63px;
    height: 64px;
    margin-top: 8px;
}

.shameemoji {
    width: 73px;
    height: 64px;
    margin-top: 8px;
}

.door {
    width: 75px;
    height: 64px;
    margin-top: 7px;
}

.logo {
    height: 70px;
    margin-top: 5px;
}

.signin {
    padding-top: 20px;
}

.signout-center {
    padding-top: 15px;
}

#hof {
    margin-left: 50px;
}

.fbicon, .igicon, .twicon {
    width: 15%;
}

.aboutsite {
    margin-top: 18px;
}

.aboutsite p {
    margin-top: -10px;
}

h2 {
    font-family: "wagner";
}

.trending {
    overflow-y: scroll;
    height: 395px;
    margin-top: 10px;
}

div#wn { 
    position:relative; 
    height:300px; 
    overflow:auto;
}

.welcomebox {
    background-color: rgba(240, 228, 228, 0.651);
    padding: 10px;
    height: 500px;
}

.jointext {
    margin-top: 18px!important;
    margin-bottom: -2px!important;
}

.signinform {
    padding-top: 30px!important;
    margin-left: -10px!important;
}

.loginbutton {
    margin-top: -10px!important;
    margin-bottom: 20px!important;
}

.socialholder {
    padding-top: 10px;
}

.signupbutton {
    margin-top: -15px!important;
    margin-bottom: 10px;
}

.signinoptionssignup {
    margin-left: 20px;
}

.socialholdersignup {
    margin: 10px 0 0 -10px;
}

ul.tabs {
    width: 70%;
}

.tabs {
    margin-left: -10px;
}

.tabs .indicator {
    background-color:rgb(10, 233, 58)!important;
  }

.tabs a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.checkbox {
    margin-top: -20px!important;
}

.checkbox-orange[type="checkbox"] + label:before{
    border: 2px solid indigo;
    background: transparent;
}

.emailform {
    margin-top: 30px!important;
}

.usernameform, .passwordform, .repeatpassword {
    margin-top: -18px!important;   
}

#rememberme {
    margin-top: -500px!important;
    margin-bottom: 30px!important;
}

.longlogo {
    width: 60%;
    margin-top: -70px;
    margin-left: 2px;
}

.trending {
    background-color: rgb(247, 243, 243);
    padding: 10px;
}

.textupload {
    background-color: rgb(240, 240, 240);
    height: 600px;
}

.textcategories {
    padding: 10px 0 10px 0;
}

.textuploadsubmit {
    margin: 5px 0 0 90px!important;
}

.textcategoriesdiv {
    padding-top: 10px!important;
}

.textcategories {
    letter-spacing: 1.8px;
}

.categorytext {
    padding-right: 15px;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    padding: 20px;
  }

.addtext {
    margin-top: 7px;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
  
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.button:hover {
    background: #ddd;
}
  
#fileElem {
    display: none;
}

.everyonestextsdiv, .mytextsdiv {
      background-color: rgb(224, 222, 222);
      width: 50%;
      margin-bottom: 20px;
}

.uploadfile {
    margin-top: 20px;
}

.showmebox {
    padding-left: 20px!important;
}

.textfeedlogo {
    width: 90%;
    margin-top: 5px;
    margin-left: 2px;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #23ccff;
}
 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #23ccff;
}

.commentsarea {
      height: 500px;
}

.commentsonlysdiv {
      height: 300px;
      overflow-y: scroll;
}

.ratingsonlysdiv {
    height: 200px;
}

.captiononlydiv {
    margin-top: 10px;
}

.specifictext {
      height: 400px;
      background-color: rgb(233, 231, 231);
      padding: 5px;
}

.postedby {
      padding: 0 0 10px 0;
}

.commentbutton {
    margin-top: 10px;
}

.textsharing {
    width: 40%;
    margin-top: 2px;
}

.hofcategory {
    text-align: center;
}

.nsfwlong, .ewlong, .bfflong, .lollong, .faillong, .wtfamlong {
    width: 80%;
    margin-top: 10px;
    margin-left: 2px;
}

.hoslong, .hoflong {
    width: 60%;
}

@media (min-width:1170px) {
    .tabwrapperdiv {
        position: relative;
    }

    ul.tabs {
        width: 70%;
    }
    
    .tabwrapper {
        position: absolute;
        right: -30px;
        top: -16px;
    }
}

@media (min-width:1201px) {
    .tabwrapperdiv {
        position: relative;
    }

    ul.tabs {
        width: 240%;
    }
    
    .tabwrapper {
        position: absolute;
        right: -30px;
        top: -16px;
    }

    .signupform {
        margin-top: -12px;
    }
}